:root{
    --typoRoboto: 'Roboto', sans-serif;
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorgrisOscuro:#666;
    --colorgrisClaro: #ebebeb;
    --colorVerde:#39b54a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--typoRoboto);
}
header{
    background-color: var(--colorAmarillo);
}

p{
    font-size: 12px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 12px;
} 