/* HEADER */
.home__header {
    padding: 20px 0;
}
.home__header--nav-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 15px 0;
    width: 100%;
    flex-direction: column;
}

.home__header--nav-logo {
    width: 37%;
    margin-left: 30px;
}

.home__header--nav-search {
    margin: 15px 18px;
    background: rebeccapurple;
    position: relative;
    width: 60%;
}

.home__header--nav-search #buscar {
    width: 100%;
    padding: 10px 5px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
}

.home__header--nav-search a{
    padding: 9px 0;
    position: absolute;
    top: 0;
    right: 5px;
}
.home__header--nav-search .fa-solid {
    font-size: 1.2rem;
    border-left: 1px solid var(--colorgrisClaro);
    padding-left: 10px;
    color: var(--colorgrisOscuro);
}

.home__header--nav-text{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__header--nav-text h4 {
    color: #010101;
    font-weight: 600;
    font-size: 15px; 
    letter-spacing: 0.5px;
    margin-left: 8px;
}
.home__header--nav-links {
    display: none;
}

.home__header--nav-links ul {
    margin-top: 20px;
}

.home__header--nav-links ul li a {
    color: #010101;
    margin-right: 10px;
    font-weight: bold;
}
.home__header--nav-links li i{
    font-size: 0.8rem;
}

.home__header--nav-burger {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home__header--nav-burger i{
    background-color: var(--colorgrisClaro);
   font-size: 1.5rem;
   background-color: var(--colorCeleste);
   padding: 10px;
   border-radius: 6px;
}
/* MAIN */

.main__section-banner img{
    width: 100%;
}
.main__section h5{
    font-family: var(--typo);
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 10px;
}
.main__section--article img{
    width: 100%;
    padding: 15px;
}
.main__section--article{
    margin-top: 10px;
    background-color: #ffffff;
} 
.main__section--article-icon{
    border-top: 1px solid var(--colorgrisClaro);
    padding: 15px;
}
.main__section--article-icon i{
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    padding: 8px 7px;
    color: var(--colorVerde);
}
.price{
    font-size: 1.2rem;
    font-weight: 900;
}
.description{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}


/* FOOTER */

.footer__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__content--article {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.footer--content-section .content-section-article i {
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.footer--content-section .content-section-article h4 {
    color: var(--colorgrisOscuro);
    font-weight: 800;
}

.copy {
    margin-left: 20px;
    color: var(--colorgrisOscuro);
    font-size: 12px;
}
@media (min-width: 481px){
    /* HEADER */
    .home__header--nav-search{
        width: 40%;;
    }
    .home__header--nav-search #buscar{
        width: 100%;
    }
    .home__header--nav .home__header--nav-links{
        display: block;
        margin:20px 0 0 10px;
    }
    .home__header--nav-links ul{
        margin-top: 0;
    }
    .home__header--nav-burger{
        display: none;
    }
    /* MAIN */
    .main__section{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px){
    .home__header--nav-search{
        width: 30%;
    }
    .home__header--nav-search #buscar{
        width: 100%;
    }
}